 .dashboardview{

 transition: 1s linear all;
  -webkit-transition: 1s linear all;
}



.dashboardview.ng-enter {
    -webkit-animation:slideInRight 0.5s both ease-in;
	-moz-animation:slideInRight 0.5s both ease-in;
	animation:slideInRight 0.5s both ease-in;  
}

.dashboardview.ng-enter.ng-enter-active {
  opacity: 1;
}

.dashboardview.ng-leave {
 -webkit-animation:slideOutLeft 0.5s both ease-in;
	-moz-animation:slideOutLeft 0.5s both ease-in;
	animation:slideOutLeft 0.5s both ease-in;
}

.dashboardview.ng-leave.ng-leave-active {
  opacity: 0;
}
