<!DOCTYPE html>

<section id="myAccount" >

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                       
                        <ol class="breadcrumb">
                            <li>
                                 <a ui-href=".dashboard.mygroups">My Rondafel</a>
                            </li>
                            <li class="active">
                                My Account
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
                
                
                
                 
        
         <div class="innerContainer" style="/* padding-right: 20px; *//* padding-left: 20px; */">

   <div class="row ">



        <div class="  text-center ">

<div class=" col-sm-12 col-md-12 col-lg-12  ">  

          <div class="personalInfo ">
  <h4>Personal Info</h4>
<div class="editInfo">
  
  

  
  
  	






<div class="row">
	<div class="editName   col-sm-12 col-md-4 col-lg-4     "> 
  			<h5 class="text-muted">
    		First Name
  			</h5>
      		<button class="btn" style="
"> 			edit
      		</button>



  
		<input type="text" name="groupname" class="form-control input ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched " ng-disable="editName()" ng-model="editName" ng-required="true" required="required">
   	</div>
</div>



<div class="row">
	<div class="editLast   col-sm-12 col-md-4 col-lg-4     "> 
  			<h5 class="text-muted">
    		Last Name
  			</h5>
      		<button class="btn" style="
"> 			edit
      		</button>



  
		<input type="text" name="groupname" class="form-control input ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched " ng-model="editName" ng-required="true" required="required">
   	</div>



</div>


<div class="row">
	<div class="editPhoto  col-sm-12 col-md-4 col-lg-4     "> 
  			<h5 class="text-muted">Profile Photo</h5>
      		



  
		
           <img src="https://www.dropbox.com/s/xzlg9ab8aytbnf5/logo_icon.png?raw=1" class="col-lg-3  col-md-3 col-sm-3 col-xs-3">
            
                <input class="col-lg-6  text-left" type="file" file-model="photo">
            
            
   	</div>



</div>




<div class="row">
	<div class="editPwd   col-sm-12 col-md-4 col-lg-4     "> 
  			<h5 class="text-muted">Password</h5>
      		



  
		


<input type="text" name="" class=" hidden form-control input ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched " ng-model="editPwd" ng-required="true" required="required" ng-hide="showverifyPwd"><input type="text" name="" class=" hidden form-control input ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched " ng-model="editPwd" ng-required="true" required="required" ng-hide="showverifyPwd">



<button class="btn" style="
"> 			edit
      		</button>
   	</div>
</div>

  
  
  
</div>
            

          </div>
</div>

       
        
        
        </div>

      </div>
        
        
        <div class="row">
 			 <div class=" mygroupTxt col-lg-12 text-center">
     	       <h1>
                           How people are using rondafel
                        </h1>
               </div>

		</div>


<div class="row   col-sm-12  col-md-12 col-lg-12 text-center ">
  
  
  




<div class=" col-sm-6 col-md-4 col-md-push-1 col-lg-3  ">  
          <div class=" cardGroup border-card-radius">

            <div class=" cardExample card-radius ">

              <img src="https://static.pexels.com/photos/66086/pexels-photo-66086.jpeg" alt="image" class="" width="100">
                
                <div class="cardContent">

                  <div id="detailExample" class="cardDetail">
                      <h4 class="cardTitle">Trip to Canada</h4>




<p class="">3 Members</p>

<p class="">$ 300 Contribution</p>

<p class="">$ 3000 Group Value</p>
                  </div>
                    
                </div>
              

                

              


            </div>

          </div>
 </div>




<div class=" col-sm-6 col-md-4 col-md-push-1 col-lg-3  ">  
          <div class=" cardGroup border-card-radius">

            <div class=" cardExample card-radius ">

              <img src="https://static.pexels.com/photos/66086/pexels-photo-66086.jpeg" alt="image" class="" width="100">
                
                <div class="cardContent">

                  <div id="detailExample" class="cardDetail">
                      <h4 class="cardTitle">Trip to Canada</h4>




<p class="">3 Members</p>

<p class="">$ 300 Contribution</p>

<p class="">$ 3000 Group Value</p>
                  </div>
                    
                </div>
              

                

              


            </div>

          </div>
 </div><div class=" col-sm-6 col-md-4 col-md-push-1 col-lg-3  ">  
          <div class=" cardGroup border-card-radius">

            <div class=" cardExample card-radius ">

              <img src="https://static.pexels.com/photos/66086/pexels-photo-66086.jpeg" alt="image" class="" width="100">
                
                <div class="cardContent">

                  <div id="detailExample" class="cardDetail">
                      <h4 class="cardTitle">Trip to Canada</h4>




<p class="">3 Members</p>

<p class="">$ 300 Contribution</p>

<p class="">$ 3000 Group Value</p>
                  </div>
                    
                </div>
              

                

              


            </div>

          </div>
 </div>
  
</div>




 <!-- /.row -->


</div>
        
        

             
            </div>
            <!-- /.container-fluid -->
        
        
       

        </section>