<!DOCTYPE html>

<section id="myAccount" >

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                       
                        <ol class="breadcrumb">
                            <li>
                                 <a href="#/dashboard/mygroups">My Rondafel</a>
                            </li>
                            <li class="active">
                                My Account
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
                
                
                
                 
        
         <div class="innerContainer" style="">

   <div class="row ">



        <div class="  text-center ">

<div class=" col-sm-12 col-md-12 col-lg-12  ">  

          <div class="personalInfo ">
  <h4>Personal Info</h4>
<div class="editInfo">
 
  
  
  	






	<div class="editName   col-sm-12 col-md-4 col-lg-4     "> 
  			<h5 class="text-muted">
    		First Name
  			</h5>
      		<button class="btn" style="
" ng-click="openName()"> 			edit
      		</button>



  
		<input type="text" name="groupname" class="form-control input ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched " ng-disable="disabledName" ng-model="editName" ng-required="true" required="required">
   	</div>




<div class="clearfix visible-xs"></div>
	<div class="editLast   col-sm-12 col-md-4 col-lg-4     "> 
  			<h5 class="text-muted">
    		Last Name
  			</h5>
      		<button class="btn" style="
" ng-click="openLast()"> 			edit
      		</button>



  
		<input type="text" name="groupname" class="form-control input ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched " ng-disable="disabledLast"  ng-model="editLast" ng-required="true" required="required">
   	</div>



    
    <div class="clearfix visible-xs"></div>
	<div class="editEmail   col-sm-12 col-md-4 col-lg-4     "> 
  			<h5 class="text-muted">
    		Email
  			</h5>
      		<button class="btn" style="
" ng-click="openEmail()"> 			edit
      		</button>

        <input type="text" name="groupname" class="form-control input ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched " ng-disable="disabledEmail"  ng-model="editEmail" ng-required="true" required="required">
   	</div>


<div class="clearfix visible-xs"></div>

	<div class="editPhoto  col-sm-12 col-md-4 col-lg-4   "> 
  			<h5 class="text-muted">Profile Photo</h5>
      		



  
		
           <img src="https://www.dropbox.com/s/xzlg9ab8aytbnf5/logo_icon.png?raw=1" class="col-lg-3  col-md-3 col-sm-3 col-xs-3">
            
                <input class="col-lg-6  text-left" type="file" file-model="photo">
            
            
   	</div>








<div class="clearfix visible-xs"></div>
	<div class="editPwd   col-sm-12 col-md-4 col-lg-4   "> 
  			<h5 class="text-muted">Password</h5>
      		



  
		


<input type="text" name="" class=" hidden form-control input ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched " ng-model="editPwd" ng-required="true" required="required" ng-hide="showverifyPwd"><input type="text" name="" class=" hidden form-control input ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched " ng-model="editPwd" ng-required="true" required="required" ng-hide="showverifyPwd">



<button class="btn" style="
"> 			edit
      		</button>
   	</div>


  
  
  
</div>
            

          </div>
</div>

       
        
        
        </div>

      </div>
        
        
   <div class="row ">



        <div class="  text-center ">

<div class=" col-sm-12 col-md-12 col-lg-12  ">  

          <div class="accountFile ">
  <h4>Accounts on File</h4>
              <p>Please enter account infromation here. Actual contribution amounts will be determined when you join a group.<p>

              
              <div class=" newaccountTxt col-lg-12 text-center">
                        
                        <i id="newaccountIcon" class="fa fa-bank fa-5x  "></i>
                        
                        <h3>
                          Add Accounts to start contributing to funds.
                        </h3>
                        
                        <p class="">
                          Add up to four accounts.
                        </p>
                        
                     <span class="col-lg-12 text-center ">
                         <a href="" class="btn  btnnewAccount nav-item   " ng-click="addnewaccountOpen()">
                             
                             <i class="fa  fa-credit-card"></i>
                              Add Account </a></span>
                    </div>
            

          </div>
</div>

       
        
        
        </div>

      </div>



 <!-- /.row -->


</div>
        
        

             
            </div>
            <!-- /.container-fluid -->
        
        
       

        </section>