<!DOCTYPE html>

<section id="myAccount" >

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                       
                        <ol class="breadcrumb">
                            <li>
                                 <a href="#/dashboard/mygroups">My Rondafel</a>
                            </li>
                            <li class="active">
                                My Account
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
                
                
                
                 
        
         <div class="innerContainer" style="">

   <div class="row ">



        <div class="  text-center ">

<div class=" col-sm-12 col-md-12 col-lg-12  ">  

          <div class="personalInfo ">
  
<div class="editInfo">
 
  
  
  	






	<div class="editName   col-sm-12 col-md-6 col-lg-6     "> 
  			<h5 class="text-muted">
    		Admininistrator
  			</h5>
      		<button class="btn" style="
" ng-click="openName()"> 			change
      		</button>



  
		<input type="text" name="groupname" class="form-control input ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched " ng-disable="disabledName" ng-model="editName" ng-required="true" required="required">
   	</div>
    

    <div class="editPhoto  col-sm-12 col-md-6 col-lg-6"> 
  			<h5 class="text-muted">Group Photo</h5>
      		



  
		
           <img src="https://www.dropbox.com/s/xzlg9ab8aytbnf5/logo_icon.png?raw=1" class="col-lg-2  col-md-2 col-sm-2 col-xs-2">
            
                <input class="col-lg-6  text-left" type="file" file-model="photo">
            
            
   	</div>



	<div class="editLast   col-sm-12 col-md-6 col-lg-6     "> 
  			<h5 class="text-muted">
    		Group Name
  			</h5>
      		<button class="btn" style="
" ng-click="openLast()"> 			edit
      		</button>



  
		<input type="text" name="groupname" class="form-control input ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched " ng-disable="disabledLast"  ng-model="editLast" ng-required="true" required="required">
   	</div>
    
    
    
    
    
    
   
    
    
    


	


    
    
	<div class="editgroupDecription   col-sm-12 col-md-6 col-lg-6     "> 
  			<h5 class="text-muted">
    		Group Decription
  			</h5>
      		<button class="btn" style="
" ng-click="openEmail()"> 			edit
      		</button>

        <input type="text" name="groupdecription" class="form-control input ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched " ng-disable="disabledEmail"  ng-model="editEmail" ng-required="true" required="required">
   	</div>

    
    <div class="clearfix visible-xs"></div>
	<div class="editPwd   col-sm-12 col-md-6 col-lg-6   "> 
  			<h5 class="text-muted">Group List</h5>
      		



  
		


<input type="text" name="" class=" hidden form-control input ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched " ng-model="editPwd" ng-required="true" required="required" ng-hide="showverifyPwd"><input type="text" name="" class=" hidden form-control input ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched " ng-model="editPwd" ng-required="true" required="required" ng-hide="showverifyPwd">



<button class="btn" style="
"> 			edit
      		</button>
   	</div>













  
  
  
</div>
            

          </div>
</div>

       
        
        
        </div>

      </div>
        
        
   


 <!-- /.row -->


</div>
        
        

             
            </div>
            <!-- /.container-fluid -->
        
        
       

        </section>